<section>
<div class=" py-1">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center">
                <h2 class=" fw-bolder">Electronic  Cart</h2>
                <h6 class="fw-bold">Developed by Zuhail <i class="fab fa-github"></i></h6>
            <div class="d-flex justify-content-center px-5">
                <div class="search">
                    <input type="text" id="keyword" class="search-input" placeholder="Search..." name="">
                    <button class="search-icon btn-dark" onclick="searchKey()"> <i class="fas fa-search"></i> </button>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-2">
                <div class="cart-card h-100 m-auto" style="width: 250px;">
                    <div class="text-center"><a  href="/view-item/{{this._id}}"><img  width="150px" src="/images/{{this._id}}.png" /></a></div>
                    <div class="card-body">
                        <div class="text-center">
                            <h6 class="fw-bolder">{{this.name}}</h6>
                            <div class="d-flex justify-content-center small text-info mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span class="fw-bolder">&#8377; {{this.price}}</span> 
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparen text-center">
                        <button onclick=" addTocart ('{{this._id}}')" class="btn btn-dark fw-bold" data-bs-toggle="modal" data-bs-target="#addtocart" style="font-size:smaller;">Add To Cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<div class="modal fade" id="addtocart" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content m-auto card cart-card">
      <div class="card-body p-2">
        <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center p-2">
            <h6 class="fw-bold" style="font-size: 14px;">Item added to cart <span class="text-dark"></span><i class="fas fa-cart-arrow-down"></i></h6>
            <a href="/cart" class="btn btn-dark fw-bold" style="font-size: 12px;">Go To Cart</a>
        </div>
        <div class="text-center pt-2">
        </div>
      </div>
    </div>
  </div>
</div>


