
<section>
{{#if products}}
<div class="container">
    <div class="card cart-card p-5 mt-2 mb-2" id="blur-cart">
        <div class="row">
            <div class="col-md-8 cart">
                <h5 class="mb-5"><b>Items <span>{{products.length}}</span></b></h5>
                {{#each products}}
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-3"><a href="/view-Item/{{this.product._id}}"><img class="img-fluid"
                                    src="/images/{{this.product._id}}.png"></a>
                        </div>
                        <div class="col-3">
                            <div class="row fw-bold">{{this.product.name}}</div>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-dark p-1"
                                onclick="changeQty('{{this._id}}','{{this.product._id}}',-1)">-</button>
                            <span class="p-2 fw-bold" id="{{this.product._id}}">{{this.quantity}}</span>
                            <button class="btn btn-dark p-1"
                                onclick="changeQty('{{this._id}}','{{this.product._id}}',1)">+</button>
                        </div>

                        <div class="col-3 fw-bold">&#8377; <span class="close">{{this.product.price}}</span></div>
                    </div>
                </div>
                {{/each}}
                <div class="back-to-shop" style="margin-top: 4.5rem">
                    <a href="/">&leftarrow;</a>
                    <span class="text-muted">Back to Home</span>
                </div>
            </div>
            <div class="col-md-4 summary">
                <form action="" id="checkout-form">
                    <h5 class="m-auto"><b>Place Order</b></h5>
                    <hr style=" margin-top: 1.25rem">
                    <div class="card mt-2" style="width: 18rem;">
                        <div class="card-body">
                            <h6 class="card-title fw-bold">Address</h6>
                            <p class="card-text text-muted fs-6">
                                name: {{user.Address.fullname}} <br>phone: {{user.Address.phone}} <br>
                                pincode: {{user.Address.pincode}} <br>state: {{user.Address.state}} <br>
                                city: {{user.Address.city}} <br>area: {{user.Address.area}} <br>
                                landmark: {{user.Address.landmark}}
                            </p>
                            <button class="btn btn-dark">Edit</button>
                            <button class="btn btn-dark">Add</button>
                        </div>
                    </div>
                    <div class="" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <b>Payment Method</b>
                        <label class="radio-inline px-1">
                            <input type="radio" name="payment-method" value="COD" checked> COD
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="payment-method" value="ONLINE" checked> ONLINE
                        </label>
                        <hr>
                        <div class="col pt-2 text-right">TOTAL PRICE <b class="px-2">&#8377;</b><span id="total"
                                class="fw-bolder">{{total}}</span></div>
                    </div>
                    <hr style=" margin-top: 1.25rem">
                    <button type="submit" class="btn btn-dark">CHECKOUT</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="container">
    <div class="card cart-card mb-2 mt-2 p-5">
        <div class="empty-cart">
            <div class="row">
                <div class="col-md-12">
                    <div class="m-auto text-center">
                        <h5><b>Cart Empty</b></h5>
                        <div class="back-to-shop" style="margin-top: 4.5rem">
                            <a href="/">&leftarrow;</a>
                            <span class="text-muted">Back to Home</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
</section>
<section>
<div class="modal fade" id="success" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content card cart-card" style="height: 200px;">
      <div class="card-body p-2">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center pt-2">
            <h5 class="fw-bold"> Order successfull <span class="text-success"><i class="fas fa-check"></i></span></h5>
        </div>
        <div class="text-center pt-2">
            <a class=" fw-bold" href="/view-orders">&leftarrow; Go Back to your orders</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
