<section>
    <div class="container mb-5">
        {{#each inbox}}
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="mt-2">
                    <div class="cart-card">
                        <div class="card-body text-center">
                            <h6 id="inUser" hidden>{{this.user}}</h6>
                            <h6 class="fw-bold text-uppercase">{{this.type}}</h6>
                             <h6 style="font-size: 14px;">Time : {{this.time}}</h6>
                             <h6 style="font-size: 14px;">Order Id : <span class="">{{this.order}}</span></h6>
                            <p class="fw-bolder">{{this.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>
<script>
    window.onload=function(){
       var user= $('#inUser').html();
       console.log(user)
       $.ajax({
           url:'/read-message/'+user,
           method:'put',
           success:function(response){
               console.log(response)
           }
       })
    }
</script>