<div class="container-fluid">
   <div class="row gutters-sm">
        <div class="col-md-6 mb-3">
          <div class="card cart-card mt-5">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                  <h4> <b>{{user.name}}</b> </h4>
                  {{!-- <button class="btn btn-dark">Update Photo</button>
                  <button class="btn btn-danger">Delete Photo</button> --}}
                </div>
              </div>
            </div>
            <form action="/edit-profile" method="POST" enctype="multipart/form-data">
              <input type="text" name="userId" value="{{user._id}}" hidden>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0 p-2">Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="text" name="name" class="form-control" value="{{user.name}}">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0 p-2">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="text" name="email" class="form-control" value="{{user.email}}">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0 p-2">Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="text" name="phone" class="form-control" value="{{user.phone}}">
                  </div>
                </div>
                <hr>
                 <div class="text-center p-2">
                <button type="submit" id="edit-button" class="btn btn-dark w-25 ">Save</button>
              </div>
              </div>
            </form>
          </div>
        </div>
    <div class="col-md-6 m-auto">
      <div class="address-page">
        <div class="card  cart-card p-2 mt-5 mb-5">
          <div class="card-body">
          <h4 class="text-center">Address</h4>
          <form action="/add-address" method="POST" enctype="multipart/form-data">
            <div class="sec p-1">
              <label for="">Fullname</label>
              <input type="text" name="name" class="form-control" value="{{user.Address.fullname}}">
            </div>
            <div class="sec p-1">
              <label for="">Phone</label>
              <input type="text" name="phone" class="form-control" value="{{user.Address.phone}}">
            </div>
            <div class="sec p-1">
              <label for="">Pincode</label>
              <input type="text" name="pincode" class="form-control" value="{{user.Address.pincode}}">
            </div>
            <div class="sec p-1">
              <label for="">State</label>
              <input type="text" name="state" class="form-control" value="{{user.Address.state}}">
            </div>
            <div class="sec">
              <label for="">City</label>
              <input type="text" name="city" class="form-control" value="{{user.Address.city}}">
            </div>
            <div class="sec p-1">
              <label for="">Area</label>
              <input type="text" name="area" class="form-control" value="{{user.Address.area}}">
            </div>
            <div class="sec p-1">
              <label for="">Landmark</label>
              <input type="text" name="landmark" class="form-control" value="{{user.Address.landmark}}">
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-dark">Save Address</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    </div>
