<section>
<div class="container">
    <div class="cart-card mt-5 mb-2">
    <div class="row wow">
        <div class="col-md-6 p-5">
            <img width="300px" src="/images/{{product._id}}.png" class="img-fluid">
        </div>
        <div class="col-md-6 p-5">
                <h5 class="">
                    <span> {{product.name}}</span>
                </h5>

                <p class="lead">
                    <span class="fw-bold">Rs: {{product.price}}</span>
                </p>

                <p class=" fw-bold">Details</p>
                <p class="" style="text-align: justify;">{{product.description}}</p>
                <hr>
                <div class="d-flex justify-content-left">
                    <button class="btn btn-dark btn-md my-0 p" data-bs-toggle="modal" data-bs-target="#addtocart" onclick=" addTocart ('{{product._id}}')">Add to cart
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<div class="modal fade" id="addtocart" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content m-auto card cart-card">
      <div class="card-body p-2">
        <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center p-2">
            <h6 class="fw-bold" style="font-size: 14px;">Item added to cart <span class="text-dark"></span><i class="fas fa-cart-arrow-down"></i></h6>
            <a href="/cart" class="btn btn-dark fw-bold" style="font-size: 12px;">Go To Cart</a>
        </div>
        <div class="text-center pt-2">
        </div>
      </div>
    </div>
  </div>
</div>