<section>
  <div class="container">
    <div class="mb-2 mt-2 py-5">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <a href="/admin/add-product/" class="btn btn-outline-dark"><i class="fas fa-plus"></i> Add Product</a>
            </div>
            <div class="d-flex justify-content-center px-5 pb-5">
              <div class="search">
                <input id="search-input" type="search" id="form1" class="search-input" placeholder="search.." />
                <button id="search-button" type="button" class="search-icon btn-dark">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
            <div class="card">
              <table class="fl-table" id="product-Table" style="font-size: 15px;">
                <thead>
                  <tr>
                    <th class="bg-dark text-white">Item</th>
                    <th class="bg-dark text-white">Name</th>
                    <th class="bg-dark text-white">Catogary</th>
                    <th class="bg-dark text-white">Price</th>
                    <th class="bg-dark text-white">In stock</th>
                    <th class="bg-dark text-white">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each products}}
                  <tr>
                    <td><img style="width: 100px;" src="/images/{{this._id}}.png"></td>
                    <td>{{this.name}}</td>
                    <td class="text-secondary">{{this.catogary}}</td>
                    <td class="fw-bold">&#8377;{{this.price}}</td>
                    <td>1</td>
                    <td><a href="/admin/edit-product?id={{this._id}}" class="btn btn-outline-dark">view</a>
                    <button class="btn btn-outline-danger" onclick="DeleteProduct('{{this._id}}')" >delete</button>
                    </td>
                  </tr>
                  {{/each}}
                <tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="delete_product_confirm" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content m-auto card cart-card">
                <div class="card-body p-2">
                    <div class="text-center p-4">
                        <h6 class="fw-bold text-danger">Delete this Product ?</h6>
                        <button class="btn btn-outline-danger" onclick="DeleteProduct()" data-bs-dismiss="modal" aria-label="close">NO</button>
                        <button class="btn btn-outline-dark" onclick="Confirm_delete()"  >YES</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
const searchButton = document.getElementById('search-button');
const searchInput = document.getElementById('search-input');
searchButton.addEventListener('click', () => {
    const inputValue = searchInput.value;
    var filter, table, tr, td, i, txtValue;
    filter = inputValue.toUpperCase();
    table = document.getElementById("product-Table");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
});
</script>
