<section>
    <div class="container">
        <div class="cart-card mt-2 mb-2 p-2">
            <div class="mb-5">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Orders</p>
                        <hr>
                        <div class="table-wrapper">
                            <table class="fl-table" style="font-size: 14px;">
                                <thead>
                                    <tr>
                                        <th class="bg-dark text-white">Date</th>
                                        <th class="bg-dark text-white">Order Id</th>
                                        <th class="bg-dark text-white">Items</th>
                                        <th class="bg-dark text-white">Amount</th>
                                        <th class="bg-dark text-white">Status</th>
                                        <th class="bg-dark text-white">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each orders}}
                                    <tr>
                                        <td>{{this.date}}</td>
                                        <td>{{this._id}}</td>
                                        <td>{{this.products.length}}</td>
                                        <td class="fw-bold">&#8377;{{this.totalAmount}}</td>
                                        <td>{{this.status}}</td>
                                        <td><a class="text-white btn btn-dark fw-bold" href="/admin/view-order?id={{this._id}}" style="font-size: small;">view</a></td>
                                    </tr>
                                    {{/each}}
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>